
html{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Sintony', sans-serif;
    margin: 0px;
    padding: 0px;
}
.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcde67;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
}
header{
    margin: 30px 0 80px 0;  
    text-align: center;
}
.page-container-image{
    max-height: 350px;
    display: flex;
}
.page-contaner-heading {
    text-transform: uppercase;
    color : #030e12;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    letter-spacing:  10px;
    
}
.page-contaner-paragraph{
    text-transform: uppercase;
    font-weight: 600;
    color : #030e12;
    font-size: 36px;
    max-width: 50vw;
    margin: 0 auto;
}
.bottom-border{
    width: 100%;
    height:  20px;
    background: rgb(252,222,103);
    background: linear-gradient(90deg, rgba(252,222,103,1) 0%, rgba(252,222,103,1) 37%, rgba(91,204,246,1) 67%, rgba(91,204,246,1) 100%);
    position: absolute;
    bottom: 0;
}
.main-border{
    width: 100%;
    height:  20px;
    background: rgb(91,204,246);
background: linear-gradient(90deg, rgba(91,204,246,1) 0%, rgba(91,204,246,1) 37%, rgba(255,253,250,1) 67%, rgba(255,253,250,1) 100%);
    position: absolute;
    bottom: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #5bccf6;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-container-content{
    width: 60vw;
    margin: 100px 0 100px 0;  
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.main-container-heading{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fcde67;
    text-align: center;
    font-size: 100px;
    letter-spacing:  10px;
}
.main-container-image{
    display: flex;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 200px;
    margin-top: 20px;
    font-size: 50px;
    color:  #fcde67;
}
.skill-wrapper{
    display: flex;
    align-items: center;
    padding: 10px;
}
.skill-icon{
    max-height: 30px;
}
.project-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #fffdfa;
    align-items: center;
}
.project-container-heading{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #030e12;
    text-align: center;
    font-size: 100px;
    letter-spacing:  10px;
}
.project-container-content{
    width: 60vw;
    margin: 100px 0 100px 0;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 450px;
    margin-top: 20px;
    font-size: 50px;
    color:  #030e12;
    text-transform: uppercase;

}
.project-wrapper{
    border-bottom: 1px solid #030e12;
    padding: 10px;
}

.logo{
    color: #5bccf6;
    display: flex;
    width: 100px;
    height: 30px;
}
.nav{
    position: fixed;
    top: 0px;
    height: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    z-index: 99;
}
.nav a{
    text-decoration: none;
    font-weight: 600;
    color: #5bccf6;
    color : #030e12;
    font-size: 24px;
}

.nav-images{
   
    display: flex;
    justify-content: space-around;
    width: 250px;
    align-items: center;
    margin-right: 40px;
    
    
}
.nav-logo{
   
    display: flex;
    align-items: center;
    margin-left: 40px;
    justify-content: center;
}
.nav a:nth-child(2){
    float: right;
}
.nav a:nth-child(3){
    float: right;
}


p{
    text-align: center;
}

/**/
about .info {
	display: flex;
	flex-direction: row;
}

#about h2 {
    text-align: center;
	color: #0d2435;
}

#about h2::after {
	border-bottom: 2px dashed #918D8D;
}





.project .title{
    text-align: center;
}

.project .content .card{
    background: #222;
    border-radius:  6px;
    padding: 25px 30px;
    text-align: center;
    overflow: hidden;
    transition: all o.3s ea;

}
.project .content .card:hover{
    background: crimson;
}

.project .content .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.project .content .card:hover .box{
    transform: scale(1.05);
}
.project.content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.project .content .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.project .content .card:hover img{
    border-color: #fff;
}
/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}

